/*-----------------------------
** Other Page Area Start
------------------------------*/

.other-page{
    padding: 120px 0px 120px;
    .content{
        .big-title{
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 20px;
        }
        .normal-title{
            font-weight: 600;
            font-size: 21px;
            padding-top: 5px;
        }
        .image{
            display: block;
            margin-bottom: 30px;
            img{
                width: 100%;
            }
        }
        .video-area{
            margin-top: 0px;
            margin-bottom: 30px;
        }
    }
}

.about-page{
    .big-title{
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .normal-title{
        font-weight: 600;
        font-size: 21px;
        padding-top: 5px;
    }
    .image{
        display: block;
        margin-bottom: 30px;
        img{
            width: 100%;
        }
    } 
}

/*-----------------------------
** Other Page Area End
------------------------------*/



/* Signin Area Start */
.auth{
    padding: 120px 0px 120px;
    .sign-form{
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
        padding: 33px 30px 40px;
        .heading{
            text-align: center;
            margin-bottom: 26px;
            .title{
                font-size: 24px;
                font-weight: 500;
                line-height: 34px;
                margin-bottom: 0px;
            }
            .subtitle{
                font-size: 16px;
                line-height: 26px;
                
            }
        }
        .form-control{
            margin-bottom: 15px;
            height: 50px;
            padding: 0px 20px;
            font-size: 14px;
        }
        .custom-checkbox{
            margin-top: 25px;
            font-size: 14px;
            line-height: 24px;
            .custom-control-label{
                a{
                    color: $base-color;
                }
            }
        }
        .mybtn1{
            width: 100%;
            height: 40px;
            line-height: 40px;
            padding: 0px;
            border-radius: 4px;
            margin-top: 27px;
            margin-bottom: 25px;
            border: 0px;
            cursor: pointer;
        }
        .reg-text{
            font-size: 14px;
            a{
                font-weight: 600;
                transition: $transition;
                &:hover{
                    color: $base-color;
                }
            }
        }
    }
}
.h-100v{
    height: 100vh!important;
}
/* Signin Area End */

/* 404 Area Start */
.error-404{
    text-align: center;
    .mybtn1{
        margin-top: 30px;
        display: inline-block;
    }
}

/* 404 Area End */
