
html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.navbar{
  background:#D90B36;
  height: 50px;
}

.view, .mask {
  background-color: rgba(0,0,0,0.01);
}

h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #242424;
  font-family: "Comfortaa", sans-serif; }


.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}

.flex-container > div > a {
  color:#242424 ;
  font-family: "Comfortaa", sans-serif;
  text-decoration:none;
  background-color:transparent;
  -webkit-text-decoration-skip:objects
 }

 .nav > li > a {
  color:white;
  font-weight: normal;
}

 .flex-container {
  display: flex;
  flex-direction: column
}
.privacy-policy {
  margin: 25%;
  text-align: left;
}

.flex-container > div {
  margin: 10%;
  text-align: center;
}

