html,
body,
header,
.view {
  height: 100%;
  border: 0.5rem solid #d90b36;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.navbar {
  background: #d90b36;
  height: 40px;
  box-shadow: none;
}

h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #242424;
  font-family: "Roboto";
}

p {
  font-family: "Roboto";
}

.link {
  color: #d90b36;
} /* CSS link color (red) */
.link:hover {
  color: #db3559;
} /* CSS link hover (green) */

.nav-link {
  font-family: "Roboto";
  color: #fff;
}

.container {
  margin-top: 100px;
  width: 650px;
}

.hr-light {
  border-top: 3px solid #d90b36;
  width: 80px;
}

.flex-container > div > a {
  color: #242424;
  font-family: "Roboto";
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

ul {
  padding-left: 1.2em;
}
​ .nav > li > a {
  color: white;
  font-weight: normal;
}

.flex-container {
  display: flex;
  flex-direction: column;
}
.privacy-policy {
  margin: 25%;
  text-align: left;
}

.flex-container > div {
  margin: 10%;
  text-align: center;
}
.title {
  position: relative;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 36px;
  font-size: 36px;
  color: black;
  min-width: 360px;
}

.blinks {
  position: relative;
  display: inline-block;
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  line-height: 36px;
  font-size: 72px;
  color: black;
  min-width: 36px;
}

.blinks::after {
  content: "";
  position: absolute;
  top: 0;
  /* Remove display: inline-block if not required to be on the same line as text etc */

  background-color: black;
  vertical-align: middle;
  width: 5px;
  /* Set height to the line height of .blinks */
  height: 60px;
  /* 
  Animation paramaters:
  blink = animation-name, 
  1s = animation-duration, 
  step-end = animation-timing-function,
  infinite = animation-iteration-count
  */
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* override bootstrap box-sizing */
* {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
*:before,
*:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
