.panel-body {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;
  -ms-animation-delay: 3s;
  animation-delay: 3s;
  animation: formAnimation 3s linear infinite 0s;
  -webkit-animation: formAnimation 3s linear infinite 0s;
}
@keyframes formAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}